* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
body.active {
  background-color: #202c36;
}
nav {
  padding: 15px 0px;
  box-shadow: 0px 0px 10px 3px #0000000e;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
}
body.active nav {
  background-color: #2b3844;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .container h3 {
  font-weight: 700;
  font-size: 24px;
  color: #111517;
}
nav .container button {
  border: none;
  color: #111517;
  background-color: transparent;
  font-size: 30px;
}
body.active nav .container button,
body.active nav .container h3 {
  color: #ffffff;
}
.hero {
  padding: 75px 0px;
}
.hero .container .countrieSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0px;
}
.hero .container .countrieSearch form {
  box-shadow: 0px 0px 10px #0000000e;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 13px 20px;
  border-radius: 3px;
}
body.active .hero .container .countrieSearch form {
  background-color: #2b3844;
}
.hero .container .countrieSearch form button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}
body.active .hero .container .countrieSearch form button {
  color: #ffffff;
}
.hero .container .countrieSearch form input {
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  outline: none;
  width: 300px;
}
body.active .hero .container .countrieSearch form input {
  color: #ffffff;
}
.hero .container .countrieSearch form input::placeholder {
  font-weight: 500;
  text-align: left;
  font-size: 18px;
  color: #848484;
}
body.active .hero .container .countrieSearch form input::placeholder {
  color: #bdbcbc;
}
.hero .container .countrieSearch select {
  box-shadow: 0px 0px 10px 3px #0000000e;
  font-weight: 500;
  text-align: left;
  font-size: 18px;
  color: #000000;
  outline: none;
  border: none;
  padding: 13px 25px;
  border-radius: 3px;
}
body.active .hero .container .countrieSearch select {
  background-color: #2b3844;
  color: #ffffff;
}
.hero .container .countrieSearch select option {
  border: none;
  padding: 13px 25px;
}
.hero .container .countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-gap: 30px;
}
.hero .container .countries .card {
  box-shadow: 0px 0px 10px 7px #0000000e;
  border-radius: 5px;
  overflow: hidden;
}
.hero .container .countries .card.delete {
  display: none;
}
body.active .hero .container .countries .card {
  background-color: #2b3844;
}
.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  cursor: pointer;
}
.hero .container .countries .card .countriesInfo {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.hero .container .countries .card h3 {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
body.active .hero .container .countries .card .countriesInfo h3 {
  color: #ffffff;
}

.hero .container .countries .card .countriesInfo p {
  color: #242c30;
  font-weight: 300;
  font-size: 14px;
}
body.active .hero .container .countries .card .countriesInfo p {
  color: #e7e3e3;
}
.hero .container .countries .card .countriesInfo p b {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}
body.active .hero .container .countries .card .countriesInfo p b {
  color: #ffffff;
}
.hero .container .countries .card a img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  background: #ddd;
}
.hero .container .countries .card .countriesInfo {
  padding: 20px;
}
@media (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
  nav .container h3{
    font-size: 22px;
  }
  nav .container button{
    font-size: 27px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 650;
  }
  .countrieSearch form {
    width: 300px;
  }
  .countrieSearch select{
    width: 150px;
  }
  nav .container h3{
    font-size: 21px;
  }
  nav .container button{
    font-size: 24px;
  }
}
@media (max-width: 580px) {
  .container {
    max-width: 480px;
  }
  nav .container h3{
    font-size: 18px;
  }
  .countries {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .hero .container .countrieSearch {
    flex-direction: column;
    align-items: start;
    row-gap: 30px;
  }
  .countrieSearch form {
    width: 100%;
  }
  nav .container button{
    font-size: 22px;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: 343px;
  }
  nav .container h3{
    font-size: 15px;
  }
  nav .container button{
    font-size: 20px;
  }
}